{% extends 'base.html.twig' %}

{% block title %}Edit CategoryItem{% endblock %}

{% block body %}
    <h1>Edit CategoryItem</h1>

    {{ include('category_item/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('category_item_index') }}">back to list</a>

    {{ include('category_item/_delete_form.html.twig') }}
{% endblock %}
