{% extends 'base.html.twig' %}

{% block title %}New CategoryItem{% endblock %}

{% block body %}
    <h1>Create new CategoryItem</h1>

    {{ include('category_item/_form.html.twig') }}

    <a href="{{ path('category_item_index') }}">back to list</a>
{% endblock %}
